.customers {
  &__carousel {
    margin-top: 7.6rem;
    width: 100vw;
    position: relative;
    width: 100vw;
    left: calc(-50vw + 50%);
  }

  &__restaurant {
    width: 22%;
    margin: 0 2rem;

    @include screen('small') {
      width: 70%;
    }

    img {
      width: 100%;
      object-fit: cover;
      height: 52rem;
      background: grey;
      border-radius: 3rem;

      @include screen('small') {
        height: 45rem;
      }
    }

    p {
      text-align: center;
      margin-top: 2rem;
    }
  }
}
